section {
    padding: 1rem;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
}

#question-nav {
    margin: auto;
    margin-bottom: 0;
}

#button-nav {
    display: flex;
    gap: 1rem;
}